/* #container{
    height: 100px;
    background-color: blueviolet;
    width: 300px;
    display: inline-block;
} */

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-wrap: wrap;
    gap: 10px;
    /* flex-direction: column; */
    align-content: center;
}

.box{
    /* height: 200px; */
    background-color: cadetblue;
    border: 2px solid blue;
    width: 100px;
    
}

#item-4{
    /* align-self: flex-end; */
    order: 1;
}

#item-6{
    order: 2;
}